/* Global Styles */
body {
    color: #333;
}

h1,h2,h3,h4,h5 {
    color: #333;
    font-family: 'Do Hyeon', sans-serif;
}

/* Header Area */

/* Landing Area*/
.landing-wrapper {
    height: 70vh;
}

.landing-image-wrapper{
    text-align: center;
    display: block;
}

.landing-image-wrapper img{
    width: 250px;
    height: auto;
}

.text-dot {
    color: #fdbc00;
}

.penrose-highlight {
    padding: .3em;
    border-radius: .1em;
    background-color: #333333;
    color: #fdbc00;
    font-weight: bold;
}



/* Cards Area */
.cards-wrapper {
    display: flex;
    justify-content: space-between;
}

/* Grid Area */
.landing-wrapper {
}

.pen-grid {
    background-color: #333;
    border-radius: .3em;
    padding: .3em;
    margin-top: .3em;
    border: 1px solid #222222;
    color: #fdbc00;
}

/* Form Area */
.login-form {
    border-radius: .3em;
    padding: 1em;
    border: 1px solid lightgray;
}