/* Global Styles */
body {
    color: #333;
}

h1,h2,h3,h4,h5 {
    color: #333;
    font-family: 'Do Hyeon', sans-serif;
}

/* Header Area */

/* Landing Area*/
.landing-wrapper {
    height: 60vh;
}
.landing-image-wrapper img{
    display: flex;
    align-items: center;
    width: 150px;
    height: auto;
}

.text-dot {
    color: #fdbc00;
}


/* Cards Are */
.cards-wrapper {
    display: flex;
    justify-content: space-between;
}

/* Grid Area */
.landing-wrapper {
}

.pen-grid {
    background-color: #333;
    border-radius: .3em;
    padding: .3em;
    margin-top: .3em;
    border: 1px solid #222222;
    color: #fdbc00;
}